body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/Frame-yellow-trans.png');
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: calc(2.5rem + 2.5vw);;
}

#startButton {
  position: absolute;
  top: calc(50% - 37px);
  left: calc(50% - 37px);
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 74px;

  border-color: transparent transparent transparent gray;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 37px 0 37px 60px;
}

img {
  display: block;
  max-width:350px;
  max-height:350px;
  width: auto;
  height: 70vh;
}

@media (min-width: 992px) {
  img {
    max-width:600px;
    max-height:600px;
  }
}

#startingImage {
  position: absolute;
}

.hidden {
  display: none;
}

.sightWord {
  font-size: calc(8rem + 1.5vw);;
}

.footer {
  margin-top: -25%;
  text-align: center;
}

#header {
  z-index: 2;
  width:100%;
  position: absolute;
  text-align: center;
  top: 50px;
}

#subheader {
  z-index: 2;
  width:100%;
  position: absolute;
  text-align: center;
  bottom: 50px;
}
